<%= form_for(@funcionario) do |f| %>
  <% if @funcionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>

      <ul>
      <% @funcionario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :registro %><br>
    <%= f.text_field :registro %>
  </div>
  <div class="field">
    <%= f.label :setor %><br>
    <%= f.text_field :setor %>
  </div>
  <div class="field">
    <%= f.label :cliente_id %><br>
    <%= collection_select(:funcionario, :cliente_id, @clientes, :id, :local, {:prompt => false}) %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
