<p id="notice"><%= notice %></p>

<h1>Lista de Funcionarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Registro</th>
      <th>Setor</th>
      <th>Cliente ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= funcionario.nome %></td>
        <td><%= funcionario.registro %></td>
        <td><%= funcionario.setor %></td>
        <td><%= funcionario.cliente_id %></td>
        <td><%= link_to 'Mostrar', funcionario %></td>
        <td><%= link_to 'Editar', edit_funcionario_path(funcionario) %></td>
        <td><%= link_to 'Remover', funcionario, method: :delete, data: { confirm: 'Deseja remover?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Funcionario', new_funcionario_path %>
<%= link_to 'Voltar', { :controller => "main" } %>
