<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @funcionario.nome %>
</p>

<p>
  <strong>Registro:</strong>
  <%= @funcionario.registro %>
</p>

<p>
  <strong>Setor:</strong>
  <%= @funcionario.setor %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @cliente.nome %>
</p>

<%= link_to 'Editar', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Voltar', funcionarios_path %>
