<p id="notice"><%= notice %></p>

<h1>Bem-vindo</h1>

<br>

<ul>
  <li>
    <%= link_to 'Manter Cliente', clientes_path %>
  </li>
  <li>
    <%= link_to 'Manter Funcionário', funcionarios_path %>
  </li>
</ul>
